body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div{
    width: 30px;
    height: 30px;
    border: solid 2px black;
    margin: 10px;
   
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}