body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.description-title{
    text-align: center;
    text-transform: uppercase;
}

.game-description{
    text-align: center;
    max-width: 640px;
    padding-bottom: 60px;
    font-size: 24px;
}

.game-description span{
    text-transform: uppercase;
}

.input-group{
    display: flex;
    flex-direction: row;
}

.input-id{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 24px;
    background-color: aquamarine;
}

.square-group{
    display: flex;
    }

.square{
    margin: 20px 10px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    font-size: 24px;
    text-align: center;
    ba
}