@font-face {
    font-family: "airstream";
    src: url("../styles/fonts/Airstream-webfont.svg");
    src: url("../styles/fonts/Airstream-webfont.woff");
}
@font-face {
    font-family: "lakesshor";
    src: url("../styles/fonts/LAKESHOR-webfont.svg");
    src: url("../styles/fonts/LAKESHOR-webfont.woff");
}

:root{
    --thumbnails-img-width: 15vw;
    --thumbnails-img-height: calc(var(--thumbnails-img-width) *0.7);
    --thumbnails-title-height: calc(var(--thumbnails-img-height)*0.3);
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #F0FFFF;
}


header{
    text-align: center;
    background-color: #95cadc;
    
}

.logo{
    font-family: "lakesshor";
    font-size: 1.6em;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 1em;
    margin-left: 1em;
}

main{
    display: flex;
    flex-direction: column;
}

.details-section{
  margin: auto;
}

.details-image{
    width: 50vw;
    height: 55vw;
    border-radius: 3%;
}

.details-container{
    position: relative;
}

.details-title{
    font-family: airstream;
    
    background-color: aliceblue;
    font-style: italic;
    font-size: 1em;
    position: absolute;
    left: 2vw;
    bottom: 2vh;
}

.thumbnails-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.thumbnails-item{
    border: solid 1px black;
    border-radius: 12%;
    max-width: var(--thumbnails-img-width);
    min-width: var(--thumbnails-img-width);
    min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
    margin-top: 3vh;
    overflow: hidden;
    position: relative;
}

.thumbnails-item:hover{
    border-color: rgb(9, 53, 13);
    transform: scale(1.2);
}


.thumbnails-image{
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
    display: block;
   
}

.thumbnails-anchor{
    text-decoration: none;
}

.thumbnails-title{
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-align: center;
    background-color: azure;
    padding: 5px;
    height: var(--thumbnails-title-height);
}



@media (min-width: 650px) {
    header{
        /* z-index: 1;
        position: sticky;
        top: 0;
        left: 0; */
    }

    body{
        overflow: hidden;
    }



    main{
        /* display:  flex; */
        /* align-items: top; */
        justify-content: start;
        flex-direction: row-reverse;
    }

    .details-image{
        width: 45vw;
        height: 35vw;
        /* margin: auto; */
    }

    .details-section{
        margin: auto;
        
        /* display: flex; */
        /* align-self: top; */
    }
    
    .thumbnails-list{
        margin-left: 5vw;
        justify-content: start;
        max-height: 50vw;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .thumbnails-item{
        margin-bottom: 20px;
        margin-top: 0px;
    }

   

}

@media(min-width: 1000px){
    .details-image{
        width: 45vw;
        height: 37vw;
        border-radius: 20%;
    }

    html{
        font-size: 1.2rem;
    }

    .details-title{
        font-size: 1.5em;
    }

}
